<div class="wrapper">
  <%= render "admins/base/header" %>
  <%= render "admins/base/sidebar" %>
  <div class="content-wrapper">
    <div class="content container-fluid">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "admins/base/footer" %>
  <%= render "admins/base/control_sidebar" %>
</div>