<div class="container-login">
  <div class="row col">
    <div class="col-md-2">
      <% if current_user.avatar? %>
        <%= image_tag current_user.avatar, style: "width: 110px; height: 110px" %>
      <% else %>
        <%= image_tag 'avatar.jpg', style: "width: 110px; height: 110px" %>
      <% end %>
    </div>
    <div class="col-md-10">
      <%= current_user.email %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col col-md-6">
      <% unless current_user.provider %>
        <%=  link_to "Edit", edit_user_registration_path, class: 'btn btn-primary'  %>
      <%  end %>
    </div>
    <div class="col col-md-6">
      <div><%= button_to "Cancel my account", cancel_user_registration_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary' %></div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px">
    <div class="col col-md-6">
      <%= link_to "Word List", class: 'btn btn-primary' %>
    </div>
    <div class="col col-md-6">
      <%= link_to "Start Lesson", class: 'btn btn-primary' %>
    </div>
  </div>

</div>


